@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mulish: "Mulish", sans-serif;
  --secondaryColor: rgb(21, 21, 21);
  --whiteColor: rgb(254, 254, 254);
  --textColor: rgb(21, 21, 21);
  --dangerColor: rgb(255, 77, 79);
}

body {
  font-family: "Mulish", sans-serif;
  background-image: url("./assets/images/bg.svg");
  background-repeat: no-repeat;
  background-position: -25% 0%;
  background-attachment: fixed;
}
